<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user.username }} owner</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>

    {% include 'inc/_nav.html' %}

    <div class="model-body card" style="width: 30rem;">
        {% for community in communities %}
            <div class="card-body" style="width: 30rem;">
                <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                        <img class="img-fluid img-thumbnail mb-3" src="{{ community.followed_community.avatar.url }}" alt="media/default_avatar/default.jpg" style="width: 180px; border-radius: 10px;">
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <p><a class="streched-link link-light" href="{% url 'main_page_of_community' community.followed_community.id %}" style="text-decoration: None;">
                            {{ community.followed_community.name }}
                        </a></p>
                        <p class="figure-caption">{{ community.followed_community.bio }}</p>
                        <p><a class="streched-link link-info" href="{% url 'change_community_info' community.followed_community.id %}" style="text-decoration: None;">Community settings</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>