<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user.username }} settings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>

    {% include 'inc/_nav.html' %}
    <div class="model-body mb-2 mt-1 card" style="width: 400px; left: 40%; top: 50%">
        <div class="card-body" style="background: #F8F8FF;">
            <a class="strached-link link-light" style="text-decoration: None;" href="{% url 'change_userprofile' %}">Change profile</a>
        </div>
    </div>

</body>
</html>