<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
    {% include 'inc/_nav.html' %}
    <div class="model-body">
        <div class="d-flex text-black">
            <div class="flex-shrink-0">
                <img class="img-fluid img-thumbnail mb-3" src="{{ user.avatar.url }}" alt="media/default_avatar/default.jpg" style="width: 180px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="fw-normal mb-1 ">{{ user.first_name }} {{ user.last_name }}</p>
                <span>
                    <a class="strached-link link-secondary" href="{% url 'all_users_information' user.id %}" style="text-decoration: None;">See all information</a>
                </span>
                {% if request.user.id != user.id %}
                    {% if subscription %}
                        <span>
                            <a class="btn btn-dark" href="{% url 'unfollow_from_user' user.id %}">Unfollow</a>
                        </span>
                    {% else %}
                        <span>
                            <a class="btn btn-dark" href="{% url 'follow_to_user' user.id %}">Follow</a>
                        </span>
                    {% endif %}
                {% endif %}
                <span>
                    <p><a class="strached-link link-secondary flex-normal" href="{% url 'get_all_followers' user.id %}" style="text-decoration: None;">Followers</a></p>
                </span>
                <span>
                    <p><a class="strached-link link-secondary flex-normal mb-1" href="{% url 'user_follow' user.id %}" style="text-decoration: None;">Follows</a></p>
                </span>
            </div>
        </div>
        {% if request.user.id == user.id %}
            <a class="btn btn-dark mb-2" href="{% url 'add_post' request.user.id %}">Add post</a>
        {% endif %}
    </div>
    {% for post in posts %}
        <div class="modal-body card mb-3" style="width: 40rem; background: #F8F8FF;">
            <div class="d-flex">
                <img class="img-fluid rounded-circle border border-dark border-3" src="{{ user.avatar.url }}" alt="" width="50" height="50">
                <p class="fw-normal">{{ post.writer.first_name }} {{ post.writer.last_name }}</p>
                {% if request.user.id == user.id %}
                    <a class="st    reched-link link-secondary dropdown-toggle  btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: None;">
                        ...
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'delete_post' post.id %}">Delete post</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_post' post.id %}">Edit post</a></li>
                        </ul>
                {% endif %}
            </div>
            <p class="figure-caption">Date added: {{ post.posted }}</p>
            <p class="fw-normal">{{ post.description }}</p>
            <img class="img-thumbnail" src="{{ post.photo.url }}" alt="#" width="600" height="600">
            <div class="flex-shrink-0">
                <a class="streched-link link-secondary" href="{% url 'comments_section' post.id %}" style="text-decoration: None;">Comments</a>
            </div>
        </div>
    {% endfor %}
</body>
</html>